<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!--打印日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--开启延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <!-- 数据源配置 -->
    <environments default="development">
        <environment id="development">
            <!--配置JDBC事务管理-->
            <transactionManager type="JDBC"/>
            <!--POOLED配置JDBC数据库连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 映射文件配置 -->
    <mappers>
        <mapper resource="com/shisan/mapper/accountMapper.xml"/>
        <mapper resource="com/shisan/mapper/StudentMapper.xml"/>
        <mapper resource="com/shisan/mapper/ClassesMapper.xml"/>
        <mapper resource="com/shisan/mapper/CustomerMapper.xml"/>
        <mapper resource="com/shisan/mapper/GoodsMapper.xml"/>
        <!-- 如果使用注解方式，可以使用以下方式配置包扫描 -->
        <!-- <package name="com.example.mapper" /> -->
    </mappers>

</configuration>
